.nav {
  display: flex;
  margin: 1.5rem;
}

.nav #nav-title {
  text-align: left;
  padding: 1rem 0rem 0rem 3rem;
}

.nav .nav-link {
  text-decoration: none;
  color: black;
}

.nav .profile-item {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 2rem;
}

.nav .profile-item #welcome-text {
  margin-top: 1rem;
  margin-right: 1rem;
}

.nav #add-user {
  margin-right: auto;
  margin-left: 1em;
  height: fit-content;
  align-self: center;
}
