.page-wrapper,
nav {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.page-wrapper > header {
  margin: 36px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-wrapper > header > h1 {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
}

.page-wrapper > header > .menu {
  display: flex;
  justify-content: flex-end;
}
