.attribute {
  width: 40% !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
}

.profile-alert {
  margin-top: 30px;
}

#submit-button {
  margin: 50px auto;
  display: block;
}
