.dropdown {
  overflow: visible;
  position: relative;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown .avatar {
  vertical-align: middle;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

div.avatar {
  display: grid;
  place-items: center;
  background: navy;
  color: white;
  user-select: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  top: calc(100% - 1px);
}

.dropdown-item {
  float: none;
  display: block;
  padding: 12px 28px 12px 28px;
  width: 100%;
  border: none;
  color: black;
  text-decoration: none;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: white;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
