.attribute {
  width: 40% !important;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: inline-block;
  margin-bottom: 1rem;
}

.profile-alert {
  margin: 3rem;
}

#submit-button {
  margin: 3rem auto 3rem auto;
  display: block;
}

.profile-form {
  margin-left: 10%;
}
