.table-wrapper {
  height: 75vh;
  width: 100%;
  margin: auto;
}

.ag-cell-wrapper {
  line-height: 1.5rem;
}

.action-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}